<div class="jumbotron mt-4">
	<h1 class="display-4">Notes app NodeJs y MongoDB</h1>
	<p class="lead">Install Bootstrap’s source Sass and JavaScript files via npm, RubyGems, Composer, or Meteor. Package managed installs don’t include documentation or our full build scripts.</p>
	<hr class="my-4">
	<p>Bootstrap utilizes Sass for a modular and customizable architecture. Import only the components you need, enable global options like gradients and shadows, and write your own CSS with our variables, maps, functions, and mixins. Bootstrap utilizes Sass for a modular and customizable architecture. Import only the components you need, enable global options like gradients and shadows, and write your own CSS with our variables, maps, functions, and mixins.</p>
	<a href="/notes" class="btn btn-primary btn-lg">FaztWeb</a>
</div>